[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = ">=2.0"
"psycopg2" = "*"
gunicorn = "*"
dj-database-url = "*"
whitenoise = "*"
raven = "*"


[dev-packages]



[requires]

python_full_version = "3.6.3"
